@{
  Page.Title = "Add Item";  

  Validation.RequireField( "tag", "Please specify the tag" );
  Validation.Add( "tag", Validator.Integer() );
  Validation.RequireField( "desc", "An item description is required" );
  Validation.RequireField( "serno", "Please provide the item serial number" );
  Validation.RequireField( "model", "The item model is required" );
  Validation.Add( "appdate", Validator.DateTime( "If provided, date must be formatted MM/DD/YYYY" ) );

  var id = "";
  var tag = "";
  var po = "";
  var desc = "";
  var serno = "";
  var model = "";
  var appby = "";
  var appdate = "";

  if ( !Request.QueryString["tag"].IsEmpty() ) {
    tag = Request.QueryString["tag"];
  }

  if ( IsPost ) {
    tag = Request.Form["tag"];
    po = Request.Form["po"];
    desc = Request.Form["desc"];
    serno = Request.Form["serno"];
    model = Request.Form["model"];
    appby = Request.Form["appby"];
    appdate = Request.Form["appdate"];      

    if ( Validation.IsValid() ) {
      var db = Database.Open( "WebPagesTags" );
      var selectCommand = "SELECT * FROM Items WHERE Tag = @0";
      var existingItem = db.QuerySingle( selectCommand, tag );

      if ( existingItem != null ) {
        Response.Redirect( "~/EditItem?id=" + existingItem.ID + "&tag=" + tag );        
      } else {
        var insertCommand = "INSERT INTO " +
                            "Items (Tag, PONumber, Description, SerialNumber, " +
                            "Model, AppliedBy, AppliedByDate) " +
                            "VALUES (@0, @1, @2, @3, @4, @5, @6)";
        db.Execute( insertCommand, tag, po, desc, serno, model, appby, DBNull.Value );

        if ( appdate.Length > 0 ) {
          var updateCommand = "UPDATE Items SET " +
                              "AppliedByDate=@0 " +
                              "WHERE Tag=@1";
          db.Execute( updateCommand, appdate, tag );
        }

        Response.Redirect( "~/Items?tag=" + tag );
      }
    }
  }
}

<!-- <html> from layout -->
  <!-- <body> from layout -->
    <h2>Add an Item</h2>
    @Html.ValidationSummary()
    <p>
      <a href="~/Items">Return to Items</a>
    </p>

    <form method="post">
      <fieldset>
        <legend>Item Information</legend>

        <div>
          <label for="tag">Tag:</label>
          <input type="text" name="tag" value="@tag" />
          @Html.ValidationMessage( "tag" )
          <br />
        </div>

        <div>
          <label for="po">PO Number:</label>
          <input type="text" name="po" value="@po" />
          <br />
        </div>

        <div>
          <label for="desc">Description:</label>
          <input type="text" name="desc" value="@desc" />
          @Html.ValidationMessage( "desc" )
          <br />
        </div>

        <div>
          <label for="serno">Serial Number:</label>
          <input type="text" name="serno" value="@serno" />
          @Html.ValidationMessage( "serno" )
          <br />
        </div>

        <div>
          <label for="model">Model:</label>
          <input type="text" name="model" value="@model" />
          @Html.ValidationMessage( "model")
          <br />
        </div>

        <div>
          <label for="appby">Tag Applied By:</label>
          <input type="text" name="appby" value="@appby" />
          <br />
        </div>

        <div>
          <label for="appdate">Date Applied:</label>
          <input type="text" name="appdate" value="@appdate" />
          @Html.ValidationMessage( "appdate" )
          <br />
        </div>

        <div>
          <input type="submit" value="Add Item" class="submitbutton" />
        </div>
      </fieldset>
    </form>