@{
  Page.Title = "Dispose Item"; 
      
  var id = "";
  var tag = "";
  var po = "";
  var desc = "";
  var serno = "";
  var model = "";
  var appby = "";
  var appdate = "";
  var dispdate = "";
  var dispby = "";
  var comments = "";

  Boolean disposed = false;

  if(IsPost) {
    Validation.RequireField( "dispdate", "Please enter date formatted MM/DD/YYYY" );
    Validation.Add( "dispdate", Validator.DateTime( "Date must be formatted MM/DD/YYYY" ) );
    Validation.RequireField( "dispby", "Name of authorized person is required" );

    id = Request.Form["id"];
    tag = Request.Form["tag"];
    dispdate = Request.Form["dispdate"];
    dispby = Request.Form["dispby"];
    comments = Request.Form["comments"];

    if ( !Request["buttonDispose"].IsEmpty() && Validation.IsValid() ) {
      id = Request.Form["id"];
      var db = Database.Open( "WebPagesTags" );
      var updateCommand = "UPDATE Items SET " +
                          "DisposeDate=@0, DisposeBy=@1, Comments=@2 " +
                          "WHERE ID=@3";
      db.Execute( updateCommand, dispdate, dispby, comments, id );

      Response.Redirect( "~/Items" );
    } else if ( !Request["buttonRestore"].IsEmpty() ) {
      id = Request.Form["id"];
      var db = Database.Open( "WebPagesTags" );
      var updateCommand = "UPDATE Items SET " +
                          "DisposeDate=NULL, DisposeBy=NULL, Comments=NULL " +
                          "WHERE ID=@0";
      db.Execute( updateCommand, id );

      Response.Redirect( "~/Items?tag=" + tag );        
    }
  } else {
    if ( !Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt() ){
      id = Request.QueryString["id"];
      var db = Database.Open( "WebPagesTags" );
      var dbCommand = "SELECT * FROM Items WHERE ID = @0";
      var item = db.QuerySingle( dbCommand, id );

      if ( item != null ) {
        tag = item.Tag;
        po = item.PONumber;
        desc = item.Description;
        serno = item.SerialNumber;
        model = item.Model;
        appby = item.AppliedBy;

        if ( item.AppliedByDate != null ) {
          appdate = item.AppliedByDate.ToString( "MM/dd/yyyy" );          
        }

        if ( item.DisposeDate != null ) {
          disposed = true;
          dispdate = item.DisposeDate.ToString( "MM/dd/yyyy" );
        }

        if ( disposed ) {
          Validation.AddFormError("This Item was already disposed");
        }

        dispby = item.DisposeBy;
        comments = item.Comments; 
      } else {
        Validation.AddFormError("No Item was found with that ID");
      }
    } else {
      Validation.AddFormError("No Item was found with that ID");
    }
  }    
}

<!-- <html> from layout -->
  <!-- <body> from layout -->
    <h2>Dispose Item</h2>
    @Html.ValidationSummary()
    <p>
      <a href="~/Items">Return to Items</a>
    </p>

    <form method="post">
      <fieldset>
        <legend>Item Information</legend>

        <p>
          <span class="spanlabel">Tag:</span>
          <span class="spandata">@tag</span>
        </p>

        <p>
          <span class="spanlabel">PO Number:</span>
          <span class="spandata">@po</span>
        </p>

        <p>
          <span class="spanlabel">Description:</span>
          <span class="spandata">@desc</span>
        </p>

        <p>
          <span class="spanlabel">Serial Number:</span>
          <span class="spandata">@serno</span>
        </p>

        <p>
          <span class="spanlabel">Model:</span>
          <span class="spandata">@model</span>
        </p>

        <p>
          <span class="spanlabel">Tag Applied By:</span>
          <span class="spandata">@appby</span>
        </p>

        <p>
          <span class="spanlabel">Date Applied:</span>
          <span class="spandata">@appdate</span>
        </p>

        <p>
          <label for="dispdate">Date Disposed:</label>
          <input type="text" name="dispdate" value="@dispdate" />
          @Html.ValidationMessage( "dispdate" )
        </p>

        <p>
          <label for="dispby">Disposed By:</label>
          <input type="text" name="dispby" value="@dispby" />
          @Html.ValidationMessage( "dispby" )
        </p>

        <p>
          <label for="comments">Comments:</label>
          <textarea name="comments" rows="4">@comments</textarea>
        </p>

        <input type="hidden" name="id" value="@id" />
        <input type="hidden" name="tag" value="@tag" />

        <p>
          @if ( disposed ) {
            <input type="submit" name="buttonDispose" value="Update" class="submitbutton" />
            <input type="submit" name="buttonRestore" value="Restore Item" />              
          } else {
            <input type="submit" name="buttonDispose" value="Dispose" class="submitbutton" />              
          }
        </p>
      </fieldset>
    </form>