@{
  Page.Title = "Edit Item";
      
  var id = "";
  var tag = "";
  var po = "";
  var desc = "";
  var serno = "";
  var model = "";
  var appby = "";
  var appdate = "";

  WebGrid grid = null;
  Boolean disposed = false;

  if ( IsPost ) {
    Validation.RequireField( "tag", "Please specify the tag" );
    Validation.Add( "tag", Validator.Integer() );
    Validation.RequireField( "desc", "An item description is required" );
    Validation.RequireField( "serno", "Please provide the item serial number" );
    Validation.RequireField( "model", "The item model is required" );
    Validation.Add( "appdate", Validator.DateTime( "Date must be formatted MM/DD/YYYY") );

    id = Request.Form["id"];
    tag = Request.Form["tag"];
    po = Request.Form["po"];
    desc = Request.Form["desc"];
    serno = Request.Form["serno"];
    model = Request.Form["model"];
    appby = Request.Form["appby"];
    appdate = Request.Form["appdate"];

    if ( Validation.IsValid() ) {
      var db = Database.Open( "WebPagesTags" );
      var updateCommand = "UPDATE Items SET " +
                          "Tag=@0, PONumber=@1, Description=@2, SerialNumber=@3, " +
                          "Model=@4, AppliedBy=@5, AppliedByDate=@6 " +
                          "WHERE ID=@7";
      db.Execute( updateCommand, tag, po, desc, serno, model, appby, DBNull.Value, id );

      if ( appdate.Length > 0 ) {
        updateCommand = "UPDATE Items SET " +
                        "AppliedByDate=@0 " +
                        "WHERE ID=@1";

        db.Execute( updateCommand, appdate, id );
      }

      Response.Redirect( "~/Items?tag=" + tag );
    }
  } else {
    if ( !Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt() ) {
      id = Request.QueryString["id"];
      var db = Database.Open( "WebPagesTags" );
      var selectItemCommand = "SELECT * FROM Items WHERE ID = @0";
      var item = db.QuerySingle( selectItemCommand, id );

      if ( item != null ) {
        tag = item.Tag;
        po = item.PONumber;
        desc = item.Description;
        serno = item.SerialNumber;
        model = item.Model;
        appby = item.AppliedBy;

        if ( item.AppliedByDate != null ) {
          appdate = item.AppliedByDate.ToString( "MM/dd/yyyy" );
        }

        if ( item.DisposeDate != null ) {
          disposed = true;
        }

        if ( disposed ) {
          Validation.AddFormError("This Item was disposed");
        }

        var selectMovesCommand = "SELECT * FROM Moves WHERE ItemID = @0";
        var searchTerm = Request.QueryString["id"];

        var selectedData = db.Query( selectMovesCommand, searchTerm );

        if ( selectedData.Any() ) {
          grid = new WebGrid( source: selectedData, defaultSort: "MoveDate", rowsPerPage: 4 );
        
          if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty()) {
            grid.SortDirection = SortDirection.Descending;
          }          
        }     

      } else {
        Validation.AddFormError("No Item was found with specified ID");  
      }

      if ( !Request.QueryString["tag"].IsEmpty() ) {
        Validation.AddFormError( "Editing existing Item");
      }
    } else {
       Validation.AddFormError( "No Item was selected" );
    }
  }    
}

<!-- <html> from layout -->
  <!-- <body> from layout -->
    <h2>Edit Item</h2>
    @Html.ValidationSummary()
    <p>
      <a href="~/Items">Return to Items</a>
    </p>

    <form method="post">
      <fieldset>
        <legend>Item Information</legend>

        <div>
          <label for="tag">Tag:</label>
          <input type="text" name="tag" value="@tag" />
          @Html.ValidationMessage( "tag" )
          <br />
        </div>

        <div>
          <label for="po">PO Number:</label>
          <input type="text" name="po" value="@po" />
          <br />
        </div>

        <div>
          <label for="desc">Description:</label>
          <input type="text" name="desc" value="@desc" />
          @Html.ValidationMessage( "desc" )
          <br />
        </div>

        <div>
          <label for="serno">Serial Number:</label>
          <input type="text" name="serno" value="@serno" />
          @Html.ValidationMessage( "serno" )
          <br />
        </div>

        <div>
          <label for="model">Model:</label>
          <input type="text" name="model" value="@model" /> 
          @Html.ValidationMessage( "model")
          <br />
        </div>

        <div>
          <label for="appby">Tag Applied By:</label>
          <input type="text" name="appby" value="@appby" />
          <br />
        </div>

        <div>
          <label for="appdate">Date Applied:</label>
          <input type="text" name="appdate" value="@appdate" />
          @Html.ValidationMessage( "appdate" )
          <br />
        </div>

        <input type="hidden" name="id" value="@id" />

        <div>
          <input type="submit" name="buttonSubmit" value="Update" class="submitbutton" />
        </div>
      </fieldset>
    </form>

    @if ( grid != null ) {
      <div>
        @grid.GetHtml(
          tableStyle: "grid",
          headerStyle: "head",
          alternatingRowStyle: "alt",
          columns: grid.Columns(
            grid.Column(format: @<a href="~/EditMove?id=@id&moveid=@item.ID">Edit</a>),
            grid.Column("MoveDate", "Moved"),
            grid.Column("Location"),
            grid.Column("AssignedTo", "Assigned To"),
            grid.Column(format: @<a href="~/DeleteMove?id=@id&moveid=@item.ID">Delete</a>)
          )
        )
      </div>        
    }
