@{
  Page.Title = "Move Item"; 

  string appDatabaseName = App.appDatabaseName;
  var id = "";
  var tag = "";
  var po = "";
  var desc = "";
  var serno = "";
  var model = "";
  var cost = "";
  var acquired = "";
  var movedate = "";
  var location = "";
  var assigned = "";

  var db = Database.Open( appDatabaseName );

  if( IsPost ) {
    Validation.Add( "movedate",
      Validator.Required( "Please enter date formatted MM/DD/YYYY" ),
      Validator.DateTime( "Enter a valid date (MM/DD/YYYY)" )
    );
    Validation.Add( "location",
      Validator.Required( "Location or user name is required" )
    );
    Validation.Add( "assigned",
      Validator.Required( "Trustee name is required" )
    );

    id = Request.Form["id"];

    movedate = Request.Form["movedate"];
    location = Request.Form["location"].ToUpper();
    assigned = Request.Form["assigned"].ToUpper();

    if ( !Request["buttonMove"].IsEmpty() && Validation.IsValid() ) {
      id = Request.Form["id"];
      
      var insertCommand = "INSERT INTO " +
                          "Moves (ItemID, MoveDate, Location, AssignedTo) " +
                          "VALUES (@0, @1, @2, @3)";
      db.Execute( insertCommand, id, movedate, location, assigned );

      string msgBody = "";

@*
      MailHelper.SendMailMessage( "inventory@miami.k12.oh.us",
                                  "inventory@miami.k12.oh.us",
                                  "", "",
                                  "Inventory Move Notice",
                                  @msgBody );
*@
      Response.Redirect( "~/ViewItem?id=" + id );
    }
  } else {
    if ( !Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].IsInt() ) {
      id = Request.QueryString["id"];

      movedate = DateTime.Now.ToString( "MM/dd/yyyy" );

    } else {
      Validation.AddFormError( "No Item was found with that ID." );
    }
  }  
  
  var dbCommand = "SELECT * FROM Items WHERE ID = @0";
  var item = db.QuerySingle( dbCommand, id );

  if ( item != null ) {
    tag = item.Tag;
    po = item.PONumber;
    desc = item.Description;
    serno = item.SerialNumber;
    model = item.Model;
    cost = item.Cost;

    if ( item.Acquired != null ) {
      acquired = item.Acquired.ToString( "MM/dd/yyyy" );
    }
  } else {
    Validation.AddFormError( "No Item was found with that ID." );
  }    
}

<!-- <html> from layout -->
  <!-- <body> from layout -->
    <h2>Move Item</h2>
    @Html.ValidationSummary()
    <p>
      <a href="~/ViewItem?id=@id">Return to View Item</a>
    </p>

    <form method="post">
      <fieldset>
        <legend>Move Information</legend>

        <div>
          <label for="dispdate">Move Date:</label>
          <input type="text" name="movedate" value="@movedate" @Validation.For("movedate") />
          @Html.ValidationMessage( "movedate" )
        </div>

        <div>
          <label for="dispby">Location:</label>
          <input type="text" name="location" value="@location" @Validation.For("location") />
          @Html.ValidationMessage( "location" )
        </div>

        <div>
          <label for="comments">Assigned To:</label>
          <input type="text" name="assigned" value="@assigned" @Validation.For("assigned") />
          @Html.ValidationMessage( "assigned" )
        </div>

        <div>
          <input type="submit" name="buttonMove" value="Move Item" class="submitbutton" />
        </div>
      </fieldset>

      <fieldset>
        <legend>Item Information</legend>

        <div>
          <span class="spanlabel">Tag:</span>
          <span class="spandata">@tag</span>
          <br />
        </div>

        <div>
          <span class="spanlabel">PO Number:</span>
          <span class="spandata">@po</span>
          <br />
        </div>

        <div>
          <span class="spanlabel">Cost:</span>
          <span class="spandata">@cost</span>
          <br />
        </div>

        <div>
          <span class="spanlabel">Acquired:</span>
          <span class="spandata">@acquired</span>
          <br />
        </div>

        <div>
          <span class="spanlabel">Description:</span>
          <span class="spandata">@desc</span>
          <br />
        </div>

        <div>
          <span class="spanlabel">Serial Number:</span>
          <span class="spandata">@serno</span>
          <br />
        </div>

        <div>
          <span class="spanlabel">Model:</span>
          <span class="spandata">@model</span>
          <br />
        </div>

        <input type="hidden" name="id" value="@id" />
      </fieldset>
    </form>